
*{
  font-size: 16px !important;

}
input{
  padding: .5em 1em !important;
  padding: .5em 1em !important;
}
button{
  padding: .5em 1em !important;
}
  body{
    margin-top: 7rem !important;
    overflow-x: hidden;
  }
  .form-control{
     min-height: none !important;
  }
  legend{
      font-size: 22px !important;
  }